*
{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
body
{
	max-width: 1440px;
	margin: auto;
}
.header
{
	width: 100%;
	height: 150px;
	background-color: black;
}

.header .header-top
{
	width: 100%;
	height: 100px;
	background-color: hsl(232deg 45% 6%);
	background-image: url("../images/musicbg.jpg");
	background-blend-mode: color;
	background-size: cover;
}

.logo
{
	width: 20%;
	height: inherit;
	position: absolute;
	margin-left: 7%;
	background-image: url('../images/logo.png');
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
}

.header-top .heading
{
	width: 40%;
	height: inherit;
	float: right;
}
.heading h2
{
	font-size: 32px;
	line-height: 150px;
	text-align: center;
	color: #ddd;
}
.navigation-bar
{
	width: 100%;
	height: 50px;
	background: linear-gradient(#171760,#000);
}
.nav-bar
{
	width: 70%;
	height: inherit;
	
	float: left;
}

.navigation-bar .nav-bar ul
{
	list-style: none;
	margin-left: 295px;
}

.navigation-bar .nav-bar ul li
{
	float: left;
	margin-top: 20px;	
	font-weight: bold;
	font-size: 20px;
	/*margin-right: 20px;*/
	padding-left: 15px;
	padding-right: 15px;
	border-right: 1px solid #ddd; 
    line-height: 15px; 
    color: #ddd;
    text-decoration: none;
}

.navigation-bar .nav-bar ul li a
{
	text-decoration: none;
	color: #ddd;
}

.navigation-bar .nav-bar ul li:nth-last-child(1)
{
	border: none;
}
.account-link
{
	width: 30%;
	height: inherit;
	float: right;
}

.navigation-bar .account-link ul
{
	list-style: none;
	margin-left: 120px;
}

.navigation-bar .account-link ul li 
{
	float: left;
	margin-top: 20px;	
	font-weight: bold;
	font-size: 15px;
	/*margin-right: 20px;*/
	padding-left: 15px;
	padding-right: 15px;
	border-right: 1px solid #ddd; 
    line-height: 15px; 
    color: #ddd;
}

.navigation-bar .account-link ul li:nth-last-child(1)
{
	border: none;
}

.navigation-bar .account-link ul li a
{
	text-decoration: none;
	color: #ddd;
}

.mobile-navigation
{
	width: 100%;
	height:  inherit;

	display: none;
}

.toggle-btn
{
	width: 70px;
	height: inherit;
	margin-left: 15px;
	background-color: #dd4156;
}
.toggle-btn i
{
	font-size: 30px;
	color: white;
	margin-left: 22px;
	margin-top: 10px;
}
.mobile-nav
{
	width: 300px;
	height: 400px;
	background-color: #09253d;
	z-index: 1;
	position: absolute;
	display: none;
}
.mobile-nav ul
{
	list-style: none;
}

.mobile-nav ul a li
{
	padding: 10px 0px 10px 25px;
	font-size: 17px;
	background-color: #071c2f;
	margin-top: 8px;
	color: white;
	transition: 0.3s;
}

.mobile-nav ul a 
{
	text-decoration: none;
}

.mobile-nav ul a li:hover 
{
	background-color: #dd4156;
	transition: 0.3s;
}

.page-content
{
	width: 100%;
	height: 750px;
}

.page-content .left
{
	width: 25%;
	height: inherit;
	float: left;
}

.page-content .left .ad
{
	width: 60%;
	height: 700px;
	background-image: url('../images/ad.png');
	margin-left: 70px;
	margin-top: 25px;
	background-repeat: no-repeat;
	background-size: contain;
}

.page-content .center
{
	width: 50%;
	height: inherit;
	float: left;
}

.page-content .center .content
{
	width: 80%;
	height: 90px;
	margin-top: 25px;
	margin-left: 10%;
}

.page-content .center .content p
{
	font-size: 23px;
	text-align: center;
	font-weight: 600;
}

.page-content .center .video
{
	width: 90%;
	height: 400px;
	margin-top: 20px;
	margin-left: 5%;
}

.page-content .center .content-box
{
	width: 90%;
	height: 200px;
	margin-left: 5%;
	margin-top: 10px;
}

.content-box .box-left
{
	width: 33.33%;
	height: inherit;
	float: left;
}
.content-box .box-center
{
	width: 33.33%;
	height: inherit;
	float: left;
}
.content-box .box-right
{
	width: 33.33%;
	height: inherit;
	float: left;
}

.box-heading
{
	width: 100%;
	height: 50px;
	text-align: center;
}

.box-content
{
	width: 90%;
	height: 150px;
	font-size: 17px;
	border: 5px solid black;
	background-color: hsl(207deg 100% 16%);
	color: white;

}

.box-content ul
{
	padding: 30px 0px 0px 27px;
}


.page-content .right
{
	width: 25%;
	height: inherit;
	float: left;
}
.page-content .right .heading
{
	width: 90%;
	height: 40px;
	margin-left: 20px;
	text-align: center;
	line-height: 40px;
	font-size: 25px;
	font-weight: bold;
	margin-top: 50px;
	color: hsl(207deg 100% 16%);
}
.page-content .right .content
{
	width: 90%;
	height: 440px;
	margin-top: 10px;
	margin-left: 20px;
	background-color: hsl(207deg 100% 16%);
}

.page-content .right .content ul
{
	list-style: none;
}

.page-content .right .content ul li 
{
	padding: 20px 100px;
	color: white;
	font-size: 20px;
}

.page-content .right .content input
{
	margin-top: 15px;
	width: 85%;
	padding: 15px 20px;
	font-size: 20px;
	text-align: center;
	color: hsl(207deg 100% 16%);
	outline: none;
	border: 5px solid color: hsl(207deg 100% 16%);
}

/*Media Queries*/
@media screen and (min-width: 1024px)
{
	.heading h2
	{
		font-size: 26px;
	}

}
@media screen and (max-width: 1024px)
{
	.navigation-bar .nav-bar ul
	{
		list-style: none;
   		margin-left: 25%;
	}

	.navigation-bar .nav-bar ul li
	{
		float: left;
		margin-top: 20px;	
		font-weight: bold;
		font-size: 17px;
		/*margin-right: 20px;*/
		padding-left: 15px;
		padding-right: 15px;
		border-right: 1px solid #ddd; 
	    line-height: 13px; 
	    color: #ddd;
	    text-decoration: none;
	}

	.box-content
	{
		font-size: 15px;
	}
}
@media screen and (max-width: 768px)
{
	.header
	{
		height: 100px;
	}
	.header .header-top
	{
		height: 60px;
	}
	.heading h2
	{
		line-height: 80px;
		font-size: 20px;
	}

	.navigation-bar .nav-bar
	{
		display: none;
	}

	.navigation-bar .account-link
	{
		width: 40%;
	}
	.navigation-bar .account-link ul
	{
		margin-left: 80px;
	}

	.page-content .left
	{
		float: none;
		width: 100%;
		height: 90px;
	}
	.page-content .center
	{
		float: none;
		width: 100%;
		height: 500px;
	}
	.page-content .right
	{
		width: 100%;
		height: 300px;
	}
	.page-content .left .ad
	{
		margin-left: 0px;
		width: 100%;
		height: inherit;
		margin-top: 10px;
		background-image: url('../images/ad2.png');
		background-size: cover;
	}

	.page-content .right .content input
	{
		width: 93%;
	}
}

@media screen and (max-width: 780px)
{
	.nav-bar
	{
		display: none;
	}

	.mobile-navigation
	{
		display: block;
	}

	.navigation-bar .nav-bar ul li
	{
		float: left;
		margin-top: 20px;	
		font-weight: bold;
		font-size: 17px;
		/*margin-right: 20px;*/
		padding-left: 15px;
		padding-right: 15px;
		border-right: 1px solid #ddd; 
	    line-height: 13px; 
	    color: #ddd;
	    text-decoration: none;
	}
}
@media screen and (max-width: 425px)
{
	.header
	{
		height: 100px;
	}
	.header .header-top
	{
		height: 60px;
	}
	.heading h2
	{
		line-height: 80px;
		font-size: 15px;
	}
	.header-top .heading
	{
		width: 50%;
	}
	.logo
	{
		width: 30%;
	}

	.navigation-bar .account-link
	{
		width: 50%;
	}
	.navigation-bar .account-link ul
	{
		margin-left: 40px;
	}
	.page-content .right .content input
	{
		width: 89%;
	}

	.content-box .box-left
	{
		width: 100%;
		height: 170px;
	}
	.content-box .box-center
	{
		width: 100%;
		height: 170px;
	}
	.content-box .box-right
	{
		width: 100%;
		height: 170px;
	}

	.box-content
	{
		width: 98%;
		height: 100px;
	}
	.box-content ul 
	{
    	padding: 20px 0px 0px 27px;
	}

	.page-content .right .heading 
	{
		margin-top: 10px;
	}

}

@media screen and (max-width: 375px)
{
	.heading h2
	{
		line-height: 80px;
		font-size: 13px;
	}
	.header-top .heading
	{
		width: 50%;
	}

	.navigation-bar .account-link
	{
		width: 50%;
	}
	.navigation-bar .account-link ul
	{
		margin-left: 10px;
	}

	.navigation-bar .account-link ul li 
	{
		font-size: 12px;
	}
	.page-content .right .content input
	{
		width: 87%;
	}
}

@media screen and (max-width: 320px)
{
	.logo
	{
		width: 35%;
	}
	.heading h2
	{
		line-height: 80px;
		font-size: 11px;
	}
	.header-top .heading
	{
		width: 50%;
	}
}
