*
{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
body
{
	max-width: 1440px;
	margin: auto;
}
.header
{
	width: 100%;
	height: 150px;
	background-color: black;
}

.header .header-top
{
	width: 100%;
	height: 100px;
	background-color: hsl(232deg 45% 6%);
	background-image: url("../images/musicbg.jpg");
	background-blend-mode: color;
	background-size: cover;
}

.logo
{
	width: 20%;
	height: inherit;
	position: absolute;
	margin-left: 7%;
	background-image: url('../images/logo.png');
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
}

.header-top .heading
{
	width: 40%;
	height: inherit;
	float: right;
}
.heading h2
{
	font-size: 32px;
	line-height: 150px;
	text-align: center;
	color: #ddd;
}
.navigation-bar
{
	width: 100%;
	height: 50px;
	background: linear-gradient(#171760,#000);
}
.nav-bar
{
	width: 70%;
	height: inherit;
	
	float: left;
}

.navigation-bar .nav-bar ul
{
	list-style: none;
	margin-left: 295px;
}

.navigation-bar .nav-bar ul li
{
	float: left;
	margin-top: 20px;	
	font-weight: bold;
	font-size: 20px;
	/*margin-right: 20px;*/
	padding-left: 15px;
	padding-right: 15px;
	border-right: 1px solid #ddd; 
    line-height: 15px; 
    color: #ddd;
    text-decoration: none;
}

.navigation-bar .nav-bar ul li a
{
	text-decoration: none;
	color: #ddd;
}

.navigation-bar .nav-bar ul li:nth-last-child(1)
{
	border: none;
}
.account-link
{
	width: 30%;
	height: inherit;
	float: right;
}

.navigation-bar .account-link ul
{
	list-style: none;
	margin-left: 120px;
}

.navigation-bar .account-link ul li 
{
	float: left;
	margin-top: 20px;	
	font-weight: bold;
	font-size: 15px;
	/*margin-right: 20px;*/
	padding-left: 15px;
	padding-right: 15px;
	border-right: 1px solid #ddd; 
    line-height: 15px; 
    color: #ddd;
}

.navigation-bar .account-link ul li:nth-last-child(1)
{
	border: none;
}

.navigation-bar .account-link ul li a
{
	text-decoration: none;
	color: #ddd;
}

.mobile-navigation
{
	width: 100%;
	height:  inherit;

	display: none;
}

.toggle-btn
{
	width: 70px;
	height: inherit;
	margin-left: 15px;
	background-color: #dd4156;
}
.toggle-btn i
{
	font-size: 30px;
	color: white;
	margin-left: 22px;
	margin-top: 10px;
}
.mobile-nav
{
	width: 300px;
	height: 400px;
	background-color: #09253d;
	z-index: 1;
	position: absolute;
	display: none;
}
.mobile-nav ul
{
	list-style: none;
}

.mobile-nav ul a li
{
	padding: 10px 0px 10px 25px;
	font-size: 17px;
	background-color: #071c2f;
	margin-top: 8px;
	color: white;
	transition: 0.3s;
}

.mobile-nav ul a 
{
	text-decoration: none;
}

.mobile-nav ul a li:hover 
{
	background-color: #dd4156;
	transition: 0.3s;
}

.page-content
{
	width: 100%;
	height: 850px;
}

.page-content .left
{
	width: 50%;
	height: inherit;
	float: left;
	box-sizing: border-box;
	border-right: 1px solid hsl(24deg 100% 43%); 
    line-height: 15px;
}

.page-content .left .post-form
{
	width: 90%;
	height: 780px;
	margin-top: 50px;
	margin-left: 30px;
}
.page-content .left .post-form .heading
{
	width: 100%;
	height: 80px;
	text-align: center;
}
.page-content .left .post-form .heading p
{
	font-size: 20px;
}
.page-content .left .post-form .heading span
{
	font-size: 25px;
	margin: 0px 10px;
	color: #dd4156;
}
.page-content .left .post-form .heading .para
{
	font-size: 18px;
	text-align: left;
	padding-top: 10px;
	padding-left: 40px;
	padding-right: 40px;
}

.page-content .left .post-form form
{
	margin-left: 70px;
	margin-top: 20px;
}

.page-content .left .post-form form label
{
	width: 140px;
	text-align: right;
	display: inline-block;
}

.page-content .left .post-form form input
{
	width: 40%;
	padding: 5px;
}

.page-content .left .post-form form input[type="submit"]
{
	width: 20%;
	padding: 5px;
}

.page-content .right
{
	width: 50%;
	height: inherit;
	float: left;
}

.page-content .right .create-form
{
	width: 90%;
	height: 780px;
	margin-top: 50px;
	margin-left: 30px;
}

.page-content .right .create-form .heading
{
	width: 100%;
	height: 80px;
	text-align: center;
}
.page-content .right .create-form .heading p
{
	font-size: 20px;
}
.page-content .right .create-form .heading span
{
	font-size: 25px;
	margin: 0px 10px;
	color: #dd4156;
}
.page-content .right .create-form .heading .para
{
	font-size: 18px;
	text-align: left;
	padding-top: 10px;
	padding-left: 40px;
	padding-right: 40px;
}

.page-content .right .create-form form
{
	margin-left: 70px;
	margin-top: 20px;
}

.page-content .right .create-form form label
{
	width: 140px;
	text-align: right;
	display: inline-block;
}

.page-content .right .create-form form input
{
	width: 40%;
	padding: 5px;
}

.page-content .right .create-form form input[type="submit"]
{
	width: 20%;
	padding: 5px;
}


.footer
{
	width: 100%;
	height: 100px;
	background-color: #071c2f;
}

.footer .inner-footer
{
	width: 90%;
	height: 70px;
	background-color:hsl(24deg 100% 43%);
	margin-left: 70px;
	position: relative;
	top: 15px;
	border-radius: 10px;
	color: white;
}

.footer .inner-footer .left
{
	width: 40%;
	height: inherit;
	float: left;
}

.footer .inner-footer .left ul
{
	list-style: none;
	padding: 10px;
}

.footer .inner-footer .left ul li
{
	float: left;
	padding: 5px;
}
.footer .inner-footer .left p
{
	padding-left: 15px;
}

.footer .inner-footer .center
{
	width: 40%;
	height: inherit;
	float: left;
}

.footer .inner-footer .right
{
	width: 20%;
	height: inherit;
	float: left;
}

.footer .inner-footer .right p
{
	padding-left: 15px;
	margin-top: 10px;
}

.footer .inner-footer .right ul
{
	list-style: none;
	padding: 10px;
}

.footer .inner-footer .right ul li
{
	float: left;
	padding: 5px;
}

/*Media Queries*/
@media screen and (min-width: 1024px)
{
	.heading h2
	{
		font-size: 26px;
	}

}
@media screen and (max-width: 1024px)
{
	.navigation-bar .nav-bar ul
	{
		list-style: none;
   		margin-left: 25%;
	}

	.navigation-bar .nav-bar ul li
	{
		float: left;
		margin-top: 20px;	
		font-weight: bold;
		font-size: 17px;
		/*margin-right: 20px;*/
		padding-left: 15px;
		padding-right: 15px;
		border-right: 1px solid #ddd; 
	    line-height: 13px; 
	    color: #ddd;
	    text-decoration: none;
	}
}
@media screen and (max-width: 768px)
{
	.header
	{
		height: 100px;
	}
	.header .header-top
	{
		height: 60px;
	}
	.heading h2
	{
		line-height: 80px;
		font-size: 20px;
	}

	.navigation-bar .nav-bar
	{
		display: none;
	}

	.navigation-bar .account-link
	{
		width: 40%;
	}
	.navigation-bar .account-link ul
	{
		margin-left: 80px;
	}

	.page-content .left
	{
		float: none;
		width: 100%;
		height: auto;
		border-bottom: 1px solid hsl(24deg 100% 43%);
		border-right: none; 
	}
	.page-content .right
	{
		float: none;
		width: 100%;
		height: auto;
	}

	.page-content
	{
		width: 100%;
		height: auto;
	}

	.footer
	{
		display: none;
	}
	
}

@media screen and (max-width: 780px)
{
	.nav-bar
	{
		display: none;
	}

	.mobile-navigation
	{
		display: block;
	}

	.navigation-bar .nav-bar ul li
	{
		float: left;
		margin-top: 20px;	
		font-weight: bold;
		font-size: 17px;
		/*margin-right: 20px;*/
		padding-left: 15px;
		padding-right: 15px;
		border-right: 1px solid #ddd; 
	    line-height: 13px; 
	    color: #ddd;
	    text-decoration: none;
	}
}
@media screen and (max-width: 425px)
{
	.header
	{
		height: 100px;
	}
	.header .header-top
	{
		height: 60px;
	}
	.heading h2
	{
		line-height: 80px;
		font-size: 15px;
	}
	.header-top .heading
	{
		width: 50%;
	}
	.logo
	{
		width: 30%;
	}

	.navigation-bar .account-link
	{
		width: 50%;
	}
	.navigation-bar .account-link ul
	{
		margin-left: 40px;
	}
}

@media screen and (max-width: 375px)
{
	.heading h2
	{
		line-height: 80px;
		font-size: 13px;
	}
	.header-top .heading
	{
		width: 50%;
	}

	.navigation-bar .account-link
	{
		width: 50%;
	}
	.navigation-bar .account-link ul
	{
		margin-left: 10px;
	}

	.navigation-bar .account-link ul li 
	{
		font-size: 12px;
	}
}

@media screen and (max-width: 320px)
{
	.logo
	{
		width: 35%;
	}
	.heading h2
	{
		line-height: 80px;
		font-size: 11px;
	}
	.header-top .heading
	{
		width: 50%;
	}
}
